# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
# to get the latest compatible packages when creating the project https://github.com/pnpm/pnpm/issues/6463
resolution-mode=highest
save-extract=true
# Evita scripts automáticos
ignore-scripts=true
# Usa solo el registro oficial de npm
registry=https://registry.npmjs.org/
# Habilita la verificación de integridad
package-lock=true

# Para pnpm
auto-install-peers=false #Desactiva la instalación automática de dependencias peer.
