name: Check PR Title

on:
  pull_request:
    branches: [main, develop]
    types: [opened, synchronize, reopened, edited]

jobs:
  check-pr-title:
    uses: juv-dev/workflows-frontend/.github/workflows/check-pr-title.yml@main
