name: Delete Branch After Merge

on:
  workflow_run:
    workflows: ["Create Release"]
    types: 
      - completed
  pull_request:
    types: [closed]

jobs:
  delete-branch:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Delete branch (except develop)
        if: github.event.pull_request.head.ref != 'refs/heads/develop'
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branches: ${{ github.event.pull_request.head.ref }}