name: Create Tag

on:
  pull_request:
    types: [closed]
    branches: [main]

permissions:
  contents: write

jobs:
  tag-version:
    if: github.event.pull_request.merged == true
    uses: juv-dev/workflows-frontend/.github/workflows/create-tag.yml@main
    with:
      ref: ${{ github.event.pull_request.merge_commit_sha }}
    secrets:
      repo_token: ${{ secrets.GITHUB_TOKEN }}